:root {
  --orange : #e95906;
  --dark-grey : #3F3F40E6;
  --light-grey : #929396;
  --background-colour: #3F3F40E5;
  --box-shadow-colour: #00000019;
}
body {
  margin: 0;
  display: grid;
  grid-row: auto;
  grid-template-areas:
    "nav-1 nav-2 nav-3"
    "main-1 main-2 main-3"
    "summery-1 summery-2 summery-3"
    "footer-1 footer-2 footer-3";
  grid-gap: 200px;
}
.nav-container {
  overflow: hidden;
  grid-row: nav-1 / nav-3;
  grid-column: nav-1 / nav-3;
  background: var(--dark-grey);
  box-shadow: 0 4px 30px var(--box-shadow-colour);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 60px;
}
.nav-items {
  margin-left: 60px;
  list-style: none;
}

.nav-item {
  display: inline-grid;
  margin: 10px;
}

a{
  color: var(--light-grey);
}

a:link {
  text-decoration: none;
  color: var(--light-grey);
}

a:hover {
  cursor: pointer;
  color: var(--orange);
}

a:focus {
  color: var(--orange);
  text-decoration: underline;
}

main {
  margin-left: 60px;
  grid-row: main-1 / main-3;
  grid-column: main-1 / main-3;
}
.about-me {
  grid-row: summery-1 / summery-3;
  grid-column: summery-1 / summery-3;
  background-color: var(--dark-grey);
}
.img-yashar{
  width: clamp(45ch, 50%, 75ch);
  position: relative;
  grid-row: summery-3;
}

.footer-container {
  grid-row: footer-1;
  grid-column: footer-1 / footer-3;
  background-color: var(--dark-grey);
}

.y {
  color: var(--orange);
}
